{:sources
  {;:hackernews ["hn"]
   :paulgraham ["pg"]
   #_:twitter #_[
     "wunderseltsam/programming-people"
   ]
   :feed [
     ; tech
     "http://prog21.dadgum.com"
     ;"https://github.com/blog/all.atom"
     "http://codinghorror.com"
     "http://zachholman.com"
     "http://chris-granger.com"
     "http://swannodette.github.io"
     "http://words.steveklabnik.com"
     "http://blog.fogus.me"
     "http://aphyr.com"
     "http://programmingisterrible.com"
     "http://blog.jenniferdewalt.com"
     "http://waxy.org"
     "http://scattered-thoughts.net"
     "http://frenchy64.github.io"
     ;"https://blog.pinboard.in"
     "http://matt.might.net/articles"
     "http://kennethreitz.org"
     ;"http://evanmiller.org"
     "http://blog.datomic.com"
     "http://clojure.com/blog"

     "http://chneukirchen.org/trivium"
     "http://waxy.org/links"

     "http://lgbtlaughs.tumblr.com"

     ;; planet.clojure.in, planet.haskell.org, planet.gnome.org?

     "http://youtube.com/user/WilliamEByrd"
     "http://youtube.com/user/CodingMath"

     "http://vihart.com"
     "http://youtube.com/user/vihart"
     "http://youtube.com/user/1veritasium"
     "http://youtube.com/user/pbsideachannel" ; via waxy.org
     "http://youtube.com/user/LimitTheory"
     "http://forums.ltheory.com/feed.php?f=12"

     ; local
     "http://heldenstadt.de"
     "http://enemenemuh.blogspot.de"
     "http://teariffic.de"
     "http://thatgirlthere.wordpress.com"
     "http://kleinerdrei.org"

     ; comics & artists
     "http://gingerhaze.com/nimona/rss.xml"
     "http://gingerhaze.tumblr.com"
     "http://questionablecontent.net/QCRSS.xml"
     "http://xkcd.com"
     "http://what-if.xkcd.com"
     "http://empartridge.tumblr.com"
     "http://milkbarista.tumblr.com"
     "http://firefluff.tumblr.com"
     "http://firefluffart.tumblr.com"
     "http://pythias.tumblr.com"
     "http://jephjacques.tumblr.com"

     "http://freeindie.com"
   ]}}
